body{
font-family: 'Libre Franklin', sans-serif;
}

.div {
    border: 5px outset gray;
    background-color: #DEDEDE;
    text-align: center;
    

.homePageImage {
    border: 5px outset black;
    background-color: #000000;
    text-align: center;
}

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.container {
  position: relative;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
largeText {
  font-size: 200px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #E8E8E8;
}
.grid-item {
  background-color: ;
  border: 5px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
