body {
    font-family: 'Montserrat', sans-serif;
}

.div {
    border: 5px outset gray;
    background-color: #DEDEDE;
    text-align: center;
    

.homePageImage {
    border: 5px outset black;
    background-color: #000000;
}

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #266991;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

    li a:hover {
        background-color: #3d4a68;
    }
.container {
  position: relative;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
largeText {
  font-size: 200px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #E8E8E8;
}
.grid-item {
  background-color: ;
  border: 5px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  
}


.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
hr {
  border: 1px solid gray;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  
}

/* Fake image */

/* Add a card effect for articles */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.card2 {
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;
}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5)

}
.toolbarLB {
  text-align: right;
  padding: 3px;
}
.closeLB {
  color: #3D4A68;
  cursor: pointer;
}
.lightbox.closed {
  display: none;
}
p {
    font-family: 'Montserrat', sans-serif;
}